* {
    background-color: white;
    color: #555555;
    font-family: "Comfortaa";
    text-align: justify;
    /*border: 1px dashed blue;*/
}

article {
    max-width: 600px;
    margin: 60px auto 20px auto;
    border: #cccccc 1px solid;
    padding: 0 20px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #cccccc;
}

body {
    background-color: #f8f8f8;
    margin: -10px;
    padding: 5px 0 5px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 0 0 0 #cccccc;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

.handwritten {
    font-family: "Caveat";
    font-size: 20pt;
}

.handwritten_tag {
    font-family: "Caveat";
    font-size: 18pt;
}

header {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: #cccccc 1px solid;
    height: 50px;
    font-size: 50px;
    box-shadow: 0 0 1px 0 #cccccc;
}

header div a {
    float: left;
}

img.smaller_image {
    width: 200px;
    padding: 10px;
    background-color: #eeeeee;
}

li {
    padding: 5px 15px 5px 0;
    margin: 0 10px;
}

#menu {
    float: right;
}

#menu li {
    float: left;
    font-size: 16px;
    list-style-type: none;
}

.person {
    float: left;
    clear: both;
}

.person img {
    max-width: 100px;
    border: blue dotted 1px;
}

.person p {
    float: left;
}

ul {
    list-style: square outside none;
}

#logo {
    height: 50px;
    padding-left: 30px;
}

nav {
    height: 50px;
    /*border-bottom: #47b1ed 4px solid;*/
    font-size: 14px;
    color: #cccccc;
    float: left;
    width: 100%
}

p {
    /*color: #777777;*/
}

.person_details {
    float: left;
}

.person_details p {
    float: left;
    color: #333333;
    padding: 0 15px 0 15px;
}

#searchbar {
    width: 800px;
    background-color: #f8f8f8;
    font-size: 20px;
}

footer ul li a {
    font-size: 14px;
    padding: 6px;
}

.person h2 {
    clear: both;
}

.person img {
    float: left;
    width: 100px;
}

.person p {
    float: left;
}

span {
    padding: 50px 0 0 30px;
    margin-top: 20px;
    font-size: 40px;
}

span a {
    text-decoration: none;
}
